@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	 font: 100%/1.4 Times, Times New Roman, serif;
}
.homePage {
	background: #60D6EB;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #4D1510;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
}
.nav {
	background: #6F7F99;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #737472;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #EAAD5D;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #60D6EB;
}
a:visited {
     color: #4D1510;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
